/*   FICHIER CSS MEDIATHEQUE PAR SAMY CHAABI
*
*    OCTOBRE 2018
*/

/* Corps de page */
body {
    color: whitesmoke;
    background-color: black;
    text-align: center;
}

/* Images dans le body */
img{
    width: 640px;
    height: 480px;
}


/* Pied de page */
footer{
    border: solid 1px white;
    background-color: firebrick;
    text-align: center;
    position: fixed;
    bottom: 0;
    display : row;
    width: 100%;
}

/* Element de liste */
li{
    list-style-type: none; 
}

/* Titre H1 */
h1{
    background-color: firebrick;
    color: seashell;
    text-align: center;
    padding: 1px;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 25em;
    border: 2px whitesmoke solid;
}

/* Titre H2 */
h2{ 
    background-color: firebrick;
    color: slateblue;
    border: 2px whitesmoke solid;
    border-radius: 10px;
    text-align: center;
}

/* Titre H3 */
h3{
    text-align: center;
    color: coral;
}

/* Titre H4 */
h4{
    text-align: center;
    color: orangered;
}

/* Tableau */
table {
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-collapse: collapse;
    width: 50%;
    margin:auto;
}
th {
    font-family: monospace;
    border: 1px solid firebrick;
    width: 50%;
    padding: 5px;
    background-color: firebrick;
}
td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid firebrick;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: firebrick;
}
tfoot{
    border: 2px solid whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
caption {
    border: 2px dotted whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Paragraphe */
p{
    color: whitesmoke;
}

/* Vidéo (non iframe) */
video{
    padding-right: 20%;
    padding: 20px;
}

/* Lien survol */
a:hover{
    color:yellowgreen;
}

/* Lien */
a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

/* Lien visité */
a:visited{
    color: whitesmoke;
}

/* Liste id=listAdherents */
#listAdherents{
    text-align: center;
}

/* Lien visité dans id=menuG */
#menuG a:visited{
    color: whitesmoke;
}

/* Lien visité dans class=menuG */
.menuG a:visited{
    color: whitesmoke;
}

/* id=menuG */
#menuG{
    color: whitesmoke;
    margin: 0;
}

/* Image dans class=main */
.main img{
    width: 640px;
    height: 480px;
}

.mainJDG{
    font-family: fantasy;
    font-style: normal;
}

.mainMusic{
    font-family: cursive;
    font-style: oblique;
}

/* Elements de liste survolés dans class=menuG */
.menuG li:hover{
    background-color: firebrick;
}

/* class=menuG */
.menuG{
    display: flex;
}

/* Elements li de class=menuG */
.menuG li{ 
    color: whitesmoke;
    display: flex;
    background-color: darkslategrey;
    border-radius: 10px;
    font-size: 18px;
    margin: auto;
    padding: 5px;
}

/* class=videosWar3 */
.videosWar3{
    text-align: center;
    padding: 10px;
}

/* class=remember */
.remember{
    float: left;
}

/* id=remember */
#remember{
    float: left;
}

/* id=inlineFrameWar3 */
#inlineFrameWar3{
    display: block;
    text-align: center;
}

/* id=ico */
#ico{
    width: 70px;
    height: 70px; 
}

/* class=trends */
.trends{
    box-sizing: border-box;
    display: flex;
}

/* Elements article de class=trends */
.trends article{
    background-color: darkslategrey;
    border: 1px solid firebrick;
    padding: 20px;
    margin: 20px;
    width: 30%;
    height: 30%;
}

/* Elements H1 de class=trends */
.trends h1{
    background-color: firebrick;
    color: seashell;
    text-align: center;
    padding: 1px;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 25em;
    border: 2px whitesmoke solid;
}