/*   FICHIER CSS MEDIATHEQUE PAR SAMY CHAABI
*
*    OCTOBRE 2018
*/

/* Corps de page */
html{
    background-color: black;
}

/* Images dans le body */
img{
    width: 640px;
    height: 480px;
}

/* Pied de page */
footer{
    text-shadow: 1px 2px 2px black;
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
    background-color: firebrick;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Element de liste */
li{
    list-style-type: none; 
}

/* Titre H1 */
h1{
    text-shadow: 1px 2px 2px black;
    background-color: firebrick;
    color: seashell;
    text-align: center;
    padding: 1px;
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
}

/* Titre H2 */
h2{ 
    text-shadow: 1px 2px 2px black;
    background-color: firebrick;
    color: seashell;
    border-radius: 25em;
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
    text-align: center;
}

/* Titre H3 */
h3{
    text-shadow: 1px 2px 2px black;
    text-align: center;
    color : coral;
}

/* Titre H4 */
h4{
    text-align: center;
    color: orangered;
}

.table{
    background-color: #666666;
}

/* Titre tableau */
.table caption {
    background-color: firebrick;
    text-align: center;
    color:whitesmoke;
    border: 2px dotted whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cellules entetes tableau */
.table th {
    text-align: center;
    font-family: monospace;
    border: 2px solid whitesmoke;
    width: 50%;
    padding: 5px;
}

/* Cellules données tableau */
.table td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-right: 2px solid whitesmoke;
    border-top: 1px solid #666666;
    width: 50%;
    padding: 5px;
    text-align: center;
}

/* Cellules footer tableau */
.table tfoot{
    border: 2px solid whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: firebrick;
}

/* Paragraphe */
p{
    color: whitesmoke;
}

/* Vidéo (non iframe) */
video{
    padding-right: 20%;
    padding: 20px;
}

/* Lien */
a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

/* Lien visité */
a:visited{
    color: whitesmoke;
}

/* class=bodyG */
.bodyG {
    padding-top: 5%;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    background-color: black;
}

/* Lien visité dans class=menuG */
.menuG a:visited{
    color: whitesmoke;
}

 /* Lien survol */
.menuG a:hover{
    color:yellowgreen;
}

/* Image dans class=main */
.main img{
    width: 640px;
    height: 480px;
}

/* Propriétés textes de mainMusique */
.mainJDG{
    font-family: fantasy;
    font-style: normal;
}

/* Propriétés textes de mainMusique */
.mainMusic{
    font-family: cursive;
    font-style: oblique;
}

/* Elements de liste survolés dans class=menuG */
.menuG li:hover{
    background-color: firebrick;
}

/* class=menuG */
.menuG{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around;
    background-color: black;
}

/* Elements li de class=menuG */
.menuG li{ 
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 10px;
}

/* class=videosWar3 */
.videosWar3{
    text-align: center;
    padding: 10px;
}

/* class=remember */
.remember{
    float: left;
}

/* class=trends */
.trends{
    display: flex;
    background-color: black;
    padding-top: 2%;
}

/* Elements article de class=trends */
.trends article{
    background-color: darkslategrey;
    border: 1px solid whitesmoke;
    margin: 1%;
}

/* Elements H1 de class=trends */
.trends h1{
    background-color: firebrick;
    color: seashell;
    text-align: center;
    padding: 1px;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 25em;
    border: 2px whitesmoke solid;
}

.md4{
    padding: 10px;
    margin: 10px;
}

/* Liste id=listAdherents */
#listAdherents{
    text-align: center;
}

/* id=menuG */
#menuG{
    color: whitesmoke;
    margin: 0;
}

/* Lien visité dans id=menuG */
#menuG a:visited{
    color: whitesmoke;
}

/* id=remember */
#remember{
    float: left;
}

/* id=inlineFrameWar3 */
#inlineFrameWar3{
    display: block;
    text-align: center;
}

/* id=ico */
#ico{
    width: 40px;
    height: 40px; 
}

/* id=register */
#register{
    padding:3px; 
    border:1px solid white;
    border-radius: 10px;
}

/* Survol id=register */
#register:hover{
    background-color: firebrick;
}

#nbEmprunts{
    text-align: center;
}